<table>
  <thead class="thead">
    <tr>
      <th colspan="1" class="space_th"></th>
      <th colspan="4" class="space_th"></th>

      <th colspan="1">
        <select
          name="sort_column"
          id="sort_column"
          [ngModel]="selectedSort()"
          (ngModelChange)="onSortChange($event)"
        >
          <option value="" selected disabled>
            -- select column for sort --
          </option>
          <option value="id">User ID</option>
          <option value="firstName">First name</option>
          <option value="lastName">Last name</option>
          <option value="age">Age</option>
          <option value="gender">Gender</option>
          <option value="phone">Phone</option>
          <option value="role">Role</option>
          <option value="username">Username</option>
        </select>
      </th>

      <th colspan="2">
        <input
          type="search"
          name="search__data"
          placeholder="Search user record."
          id="search__data"
          [ngModel]="searchQuery()"
          (ngModelChange)="searchQuery.set($event)"
        />
      </th>
    </tr>

    <tr>
      <th (click)="toggleSort('id')">
        User ID
        <span *ngIf="sortColumn() === 'id'">
          {{ sortDirection() === "asc" ? "↑" : "↓" }}
        </span>
      </th>
      <th (click)="toggleSort('firstName')">
        First name
        <span *ngIf="sortColumn() === 'firstName'">
          {{ sortDirection() === "asc" ? "↑" : "↓" }}
        </span>
      </th>
      <th (click)="toggleSort('lastName')">
        Last name
        <span *ngIf="sortColumn() === 'lastName'">
          {{ sortDirection() === "asc" ? "↑" : "↓" }}
        </span>
      </th>
      <th (click)="toggleSort('age')">
        Age
        <span *ngIf="sortColumn() === 'age'">
          {{ sortDirection() === "asc" ? "↑" : "↓" }}
        </span>
      </th>
      <th (click)="toggleSort('gender')">
        Gender
        <span *ngIf="sortColumn() === 'gender'">
          {{ sortDirection() === "asc" ? "↑" : "↓" }}
        </span>
      </th>
      <th (click)="toggleSort('phone')">
        Phone
        <span *ngIf="sortColumn() === 'phone'">
          {{ sortDirection() === "asc" ? "↑" : "↓" }}
        </span>
      </th>
      <th (click)="toggleSort('role')">
        Role
        <span *ngIf="sortColumn() === 'role'">
          {{ sortDirection() === "asc" ? "↑" : "↓" }}
        </span>
      </th>
      <th (click)="toggleSort('username')">
        Username
        <span *ngIf="sortColumn() === 'username'">
          {{ sortDirection() === "asc" ? "↑" : "↓" }}
        </span>
      </th>
    </tr>
  </thead>

  <tbody>
    <app-loader *ngIf="isLoadingUser()" />

    <ng-container *ngIf="filteredUsers().length > 0; else noData">
      <!-- [style.background-color]="defaultIndex % 2 === 0 ? 'white' : 'gray'" -->
      <tr
        *ngFor="let user of filteredUsers(); index as defaultIndex"
        [ngStyle]="{
          'background-color': defaultIndex % 2 === 0 ? 'white' : '#f2f2f273'
        }"
      >
        <!-- <td>{{ defaultIndex }}</td> -->
        <td>{{ user.id }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.username }}</td>
      </tr>
    </ng-container>

    <ng-template #noData>
      <tr>
        <td colspan="8" class="text-center">user Not found</td>
      </tr>
    </ng-template>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="7">Total Users:</td>
      <td>{{ filteredUsers().length }}</td>
    </tr>
  </tfoot>
</table>
